<h2>Search Results</h2>
For '<%= @results.query %>', found <%= @results.results_count %> results. <br />
<% if @results.previous_page? %><%= link_to h("< Back"), @results.previous_page_path %><% end %>
<% if @results.next_page? %><%= link_to h("Next >"), @results.next_page_path %><% end %>
<% if @results.key_matches? %>
    <ul class="key_matches">
    <% @results.key_matches.each do |match| %>
        <li><%= link_to match.title, match.url %></li>    
    <% end %>
    </ul>
<% end %>
<% if @results.synonyms? %>
    <span class="synonyms">You could also try:
    <% @results.synonyms.each do |synonym| %>
        <%= link_to synonym.label, synonym.url %>    
    <% end %>
    </span>
<% end %>
<ul class="search_results">
  <% @results.each do |result|%>
    <li>
        <%= result.number %> <%= link_to result.title, result.url,  :class=>"search_result_title" %><br />
        <span class="search_result_description"><%= result.description %></span> <br />
        <span class="search_result_url"><%= result.url %></span> - 
        <span class="search_result_size"><%= result.size %></span>
    </li>
  <% end %>
</ul>
<% if @results.previous_page? %><%= link_to h("< Back"), @results.previous_page_path %><% end %>
<%  @results.pages.each do |p| %>
      <%= link_to_unless @results.current_page?(p), p, @results.page_path(p) %>
<% end %>
<% if @results.next_page? %><%= link_to h("Next >"), @results.next_page_path %><% end %>
